%ul#top-nav
  %li
    .button
      %a{:href => '/', :title => "Home"} Home
  %li
    .button
      %a{:href => '/users', :title => "Users"}
        Users
      - if @users.present?
        %small
          = @users.count
  %li
    .button
      %a{:href => '/microposts', :title => "microposts"} microposts
      - if @microposts.present?
        %small
          = @microposts.count
  %li
    .button
      %a{:href => '/pages/home', :title => "pages"} pages
