%ul#top-nav
  %li
    .button
      %a{:href => '/'} Home
  %li
    .button
      %a{:href => '/users'} Users
  %li
    .button
      %a{:href => '/microposts'} microposts
  %li
    .button
      %a{:href => '/pages/home'} pages
